
<main class="">
<section id="register"  class="d-center " >

  <section id="auth-form"  class="">
  
      <div class="mainImg  m-auto text-center ">
          <img src="../../../assets/image/logo.svg" alt="logo" class="img-fluid">
      </div>
      <div class="container  caption ">
  
      <h2>Register</h2>
  <p>Welcome Back! Please enter your details</p>

  
  <form  class="" [formGroup]="registerForm" (ngSubmit)="signUp(registerForm)">
 <!-- ------------------------------UserImage------------------- -->
<ngx-dropzone #drop (change)="onSelect($event)" class="h-25 w-50 m-auto " 
accept="image/jpeg,image/jpg,image/png,image/gif">

	<ngx-dropzone-label class="d-center flex-column ">
    Drop it,Image
    <i class="fa-regular p-1 fa-square-caret-up fs-3 bg-main text-white"></i>
  </ngx-dropzone-label>
	
  <ngx-dropzone-image-preview class="d-center" 
  ngProjectAs="ngx-dropzone-preview" 
  *ngFor="let f of filesm" [removable]="true"  [file]="f" 
  (removed)="onRemove(f)">
  <button mat-icon-button (click)="onRemove(f)" class="bg-info p-5" >
    <mat-icon aria-label="Delete">delete</mat-icon>
  </button>
  </ngx-dropzone-image-preview>
</ngx-dropzone>

<!-- ===================== -->



 <!-- -------------------------------UserImage------------------- -->
    <section class=" input-form d-flex justify-content-between">

   
       <section class="regForm">

            <!-- -------------------------------UserName------------------- -->
<div class="input-group flex-nowrap py-2 ">
          <span class="input-group-text" id="addon-wrapping"> <i class="fa-regular fa-user"></i></span>
 <input type="text" class="form-control" placeholder="UserName" formControlName="userName">
</div>
<!-- <p *ngIf="registerForm.controls.userName?.errors?.['required']">Pleas fillout this filed</p> -->

<small>


<small *ngIf="registerForm.get('userName')?.getError('required')&& registerForm.get('userName')?.touched " class="text-danger  ">Pleas fill out this filed</small>

<small *ngIf="registerForm.get('userName')?.getError('minlength')" class="text-danger">The userName must be at least 4 characters.</small>

<small *ngIf="registerForm.get('userName')?.getError('pattern')" class="text-danger">
  The userName must contain characters and end with numbers without spaces.</small> 
</small>
    <!-- -------------------------------countery------------------- -->
        <div class="input-group flex-nowrap py-2 ">
          <span class="input-group-text" id="addon-wrapping"> 
           
            <i class="fa-solid fa-earth-americas"></i>
          </span>
          <input  type="text" class="form-control" 
        formControlName="country" placeholder="Country">
        </div>
                 <!-- -------------------------------Passworde------------------- -->
        <div class="input-group flex-nowrap py-2 position-relative  ">
   
          <span class="input-group-text" id="addon-wrapping">
              <i class="fa-solid fa-lock"></i>
          </span>
          <input type="password" class="form-control" 
          formControlName="password" placeholder="Password" >
          
          
          <img src="../../../assets/image/eye.svg" class="eye translate-middle">
           
        </div>
       

        <small class="text-danger">


          <small *ngIf="registerForm.get('password')?.getError('required')&&
           registerForm.get('password')?.touched " >Pleas fill out this filed</small>
          
          <small *ngIf="registerForm.get('password')?.getError('minlength')">
            The Passworde must be at least 6 characters.</small>
          
          <small *ngIf="registerForm.get('password')?.getError('pattern')" class="text-danger">
            The Passworde must contain characters and end with numbers without spaces as xxx@Xxxx1.</small> 
          </small>
        
        </section>


     <section class="regForm ">
      <!-- -------------------------------email------------------- -->
  <div class="input-group flex-nowrap py-2 ">
      <span class="input-group-text" id="addon-wrapping"> 
        <!-- <i class="fa-solid fa-mobile-screen"></i> -->
        <i class="fa-regular fa-envelope"></i>
      
      </span>

      <input type="email" class="form-control"
      formControlName="email"  placeholder="Enter your E-mail">
    

  
    </div>


    <small  class="text-danger">


      <small *ngIf="registerForm.get('email')?.getError('required')&& registerForm.get('email')?.touched "
       class="text-danger  ">Pleas fill out this filed</small>
      
      <small *ngIf="registerForm.get('email')?.getError('email')">
       must be format email.</small>
      
      <small *ngIf="registerForm.get('email')?.getError('pattern')" >
        Pleas write correct email as xxx12@domian.com.</small> 
      </small>
    <!-- -------------------------------Phone------------------- -->
    <div class="input-group flex-nowrap py-2">
      <span class="input-group-text" id="addon-wrapping"> 
        <i class="fa-solid fa-mobile-screen"></i>
      </span>
      <input type="text" class="form-control"
    formControlName="phoneNumber"   placeholder="PhoneNumber">
    </div>
    <small class="text-danger">

      <small *ngIf="registerForm.get('phoneNumber')?.getError('required')&&
       registerForm.get('phoneNumber')?.touched">Pleas fill out this filed
      </small>
    
    <small *ngIf="registerForm.get('phoneNumber')?.getError('pattern')">
    Pleas Write correct phone Number 
    </small>
 </small>

    <!-- -------------------------------confirm passworde------------------- -->
    <div class="input-group flex-nowrap py-2 position-relative confirm">

      <span class="input-group-text" id="addon-wrapping">
          <i class="fa-solid fa-lock"></i>
      </span>
      <input type="password" class="form-control" 
     formControlName="confirmPassword"  placeholder="Confirm-Password" >
       <img src="../../../assets/image/eye.svg" class="eye translate-middle">
       <!-- <i class="fa-regular fa-eye eye translate-middle fs-5"></i> -->
    </div>
    <small class="text-danger">


      <small *ngIf="registerForm.get('confirmPassword')?.getError('required')&&
       registerForm.get('confirmPassword')?.touched " >Pleas fill out this filed</small>
      
      <small *ngIf="registerForm.get('confirmPassword')?.getError('minlength')">
        The confirmPassword must be at least 6 characters.
      </small>
      
      <small *ngIf="registerForm.get('confirmPassword')?.getError('pattern')" class="text-danger">
        The confirmPassword must contain characters and end with numbers without
         spaces as xxx@Xxxx1.
        </small> 
     
    <!-- <small *ngIf="registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value">
      ConfirmPassword not equal Password
    </small> -->

    <small *ngIf="registerForm.get('confirmPassword')?.touched?
    registerForm.get('confirmPassword')?.value !== registerForm.get('password')?.value :'' ">
      ConfirmPassword not equal Password
    </small>


  </small>
    </section>

  </section>


<!-- -----------------  Button Register  ------------ -->
  <section class="">
<div class="mb-2 d-center justify-content-between ">
     
 <a> <h4 class="forgot text-dark text-end  " routerLink="/login">Login Now?</h4></a>
 <a><h4 class="forgot text-end "  (click)="openDialog()">Have A Code?</h4></a>

</div>
<!-- <button class="main w-100" [disabled]="registerForm.valid ==false &&
 registerForm.touched==false">Register</button> -->
<button class="main w-100" [disabled]="!registerForm.valid && registerForm.touched">
  Register</button>
<p *ngIf="registerForm.valid" class="stutus">
  {{is_mess}}</p>
</section>
    
   </form>
  





    <!-- <div class="mb-2 d-center  justify-content-end">
     
      <h4 class="forgot text-end" >Login Now?</h4>
    </div>
    <button class="main w-100">Register</button> -->
  
  </div>
  </section>

  </section>

</main>