#resetPassworde{
    height:100vh;
    background-image: url(../../component/../../../assets/image/auth.bg.png);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}