
<section id="resetPassworde"  class="d-center">
  
    <section id="auth-form" >
        <div class="mainImg  m-auto text-center ">
            <img src="assets/image/logo.svg" alt="logo" class="img-fluid">
        </div>
        <div class="container  caption">
    
        <h2>Reset  Password</h2>
    <p>Please Enter Your Otp  or Check Your Inbox</p>
    
    
    
    
    <form  class=" d-flex flex-column"   [formGroup]="resetPasswordForm"
     (ngSubmit)="resetPassword(resetPasswordForm)">
        <!-- -----------------------Email --------------------------------- -->

    <div class="input-group flex-nowrap py-2">
        <span class="input-group-text" id="addon-wrapping"> 
         
          <i class="fa-regular fa-envelope"></i>
        </span>
        <input  formControlName="email" type="email" class="form-control" placeholder="Enter your E-mail">
      </div>
    <small class="text-danger">
    
    <small *ngIf="resetPasswordForm.get('email')?.getError('required')&&resetPasswordForm.get('email')?.value!=null">Pleas fill out this filed</small>
    
    <small *ngIf="resetPasswordForm.get('email')?.getError('email')">must be format email</small>
    
    <small *ngIf="resetPasswordForm.get('email')?.getError('pattern')" >
      Pleas write correct email as xxx12@domian.com.</small> 
    
    </small>
    
    <!-- ----------------------- otd--------------------------------- -->
    

   <div class="d-flex flex-column">

   
      <div class="input-group flex-nowrap py-2 position-relative  ">
      
        <span class="input-group-text" id="addon-wrapping">
            <i class="fa-solid fa-mobile"></i>
        </span>
        <!-- <input formControlName="seed" type="text" class="form-control" 
        placeholder="otd" > -->
        <input formControlName="seed" type="text" class="form-control" 
        placeholder="OTd" >
        </div>
      <div class=" d-center justify-content-between">
       

        <small class="text-danger">

          <small *ngIf="resetPasswordForm.get('seed')?.getError('required')&&
          resetPasswordForm.get('password')?.touched " >Pleas fill out this filed</small>
         
            
            
            
            
            </small>

        </div>
 
    <section class="w-100">


    <!-- ----------------------- password--------------------------------- -->

    
 
   
<div class="input-group flex-nowrap py-2 position-relative  ">
  
  <span class="input-group-text" id="addon-wrapping">
      <i class="fa-solid fa-lock"></i>
  </span>
  <input formControlName="password" type="password" class="form-control" 
  placeholder="Password" >
   <img src="../../../assets/image/eye.svg" class="eye translate-middle">
</div>
<div class=" d-center justify-content-between">
 

  <small class="text-danger">


      <small *ngIf="resetPasswordForm.get('password')?.getError('required')&&
       resetPasswordForm.get('password')?.touched " >Pleas fill out this filed</small>
      
      <small *ngIf="resetPasswordForm.get('password')?.getError('minlength')">
        The Passworde must be at least 6 characters.</small>
      
      <small *ngIf="resetPasswordForm.get('password')?.getError('pattern')" class="text-danger">
        The Passworde must contain characters and end with numbers without spaces as xxx@Xxxx1.</small> 
      </small>
  </div>


 <!-- -----------------------confirmPassword--------------------------------- -->
    

 <div class="input-group flex-nowrap py-2 position-relative ">
    
    <span class="input-group-text" id="addon-wrapping">
        <i class="fa-solid fa-lock"></i>
    </span>
    <input formControlName="confirmPassword" type="password" class="form-control" 
    placeholder="confirm  Password" >
     <img src="../../../assets/image/eye.svg" class="eye translate-middle">
  </div>
 

    <small class="text-danger">


        <small *ngIf="resetPasswordForm.get('confirmPassword')?.getError('required')&&
         resetPasswordForm.get('confirmPassword')?.touched " >Pleas fill out this filed</small>
        
        <small *ngIf="resetPasswordForm.get('confirmPassword')?.getError('minlength')">
          The Passworde must be at least 6 characters.</small>
        
        <small *ngIf="resetPasswordForm.get('confirmPassword')?.getError('pattern')" 
        class="text-danger">
          The Passworde must contain characters and end with numbers without spaces as
           xxx@Xxxx1.</small> 
        </small>





    </section>




       
      
    
    </div>
      
      
      <button class="main w-100 mt-3"
       
        [disabled]="resetPasswordForm.invalid">Reset  Password
      </button>

    <p *ngIf="resetPasswordForm.valid" class="stutus">
      {{is_message}}</p>
    
    </form>
    </div>
    </section>
    
    
    
    
    
    
    
    
    </section>