
$mainColor:#4aa35a;

#forget{
    position: relative;
   .close{
    // background-color: aqua;
    background-color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 1rem;
    i{
        color: $mainColor;
        font-size: 2rem;
    }


    
   
}}