


<!-- ---------------------heeader----------------- -->
<section id="header" >
    <section class="container ">
        <section class="row flex-nowrap d-center">
          

            <!-- Users
            List
            You can now add your items that any user can order it from the Application and you can edit
        -->
            <figcaption class="col-6  d-flex flex-column justify-content-center 
          ps-5 text-white ">
            <h2 class="text-start"> Users
               <span class=" text-capitalize">List</span></h2>
          
          
          
                <p class="">You can show All Usere Logedd
                    
            </p>
        </figcaption>


        <div class="col-6  ">

       
        <figure class=" m-0 d-flex justify-content-end ">
       <img src="../../../../assets/image/child-header.svg" alt="home-img" 
       class="w-25 d-block ">
       </figure>

    </div>
        </section>


    </section>






</section>


<!-- ---------------------Table----------------------- -->
 
  <div
    class="table-responsive my-5"
  >
    <table
        class="table table-striped"
    >


        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">country</th>


                <th scope="col">phone</th>
                <th scope="col">imagePath</th>
                <th scope="col">creationDate</th>
                <th scope="col">Roles</th>
                <th scope="col">email</th>

            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let item of tableHead">
                <td scope="row">{{item.userName}}</td>
                <td>{{item.country}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>
                    <img   *ngIf="item.imagePath==null"
                     src="../../../assets/image/profiol-img.png" 
                     alt="" class="w-25">
                    <img  *ngIf="item.imagePath !=null"
                     [src]="pathImag+item.imagePath" alt=""  class="w-25">
                    </td>
         
                <td>{{item.creationDate | date}}</td>
           <td>{{item.group.name}}</td>
           <td>{{item.email}}</td>
<td>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon color="primary">more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
  
        <button mat-menu-item color="primary" (click)="openDialogDeletUser('1500ms', '7500ms',item.id)">
          <mat-icon color="primary"> delete</mat-icon>
          <span class="material-symbols-outlined">
            delete
            </span>
        
        </button>
      </mat-menu>
      


</td>
            </tr>
           
        </tbody>
    </table>
  </div>
  