
<section id="login"  class="d-center ">
  
<section id="auth-form" >
    <div class="mainImg  m-auto text-center ">
        <img src="assets/image/logo.svg" alt="logo" class="img-fluid">
    </div>
    <div class="container  caption">

    <h2>Log In</h2>
<p>Welcome Back! Please enter your details</p>




<!-- -----------------------Email --------------------------------- -->
<form    [formGroup]="loginForm" (ngSubmit)="signIn(loginForm)">

<div class="input-group flex-nowrap py-3">
    <span class="input-group-text" id="addon-wrapping"> 
     
      <i class="fa-regular fa-envelope"></i>
    </span>
    <input  formControlName="email" type="email" class="form-control" placeholder="Enter your E-mail">
  </div>
<small class="text-danger">

<small *ngIf="loginForm.get('email')?.getError('required')&&loginForm.get('email')?.value!=null">Pleas fill out this filed</small>

<small *ngIf="loginForm.get('email')?.getError('email')">must be format email</small>

<small *ngIf="loginForm.get('email')?.getError('pattern')" >
  Pleas write correct email as xxx12@domian.com.</small> 

</small>

<!-- -----------------------password --------------------------------- -->

  <div class="input-group flex-nowrap py-3 position-relative ">
    <!-- <img src="../../../assets/image/eye.svg" class=" eye"> -->
    <span class="input-group-text" id="addon-wrapping">
        <i class="fa-solid fa-lock"></i>
    </span>
    <input formControlName="password" type="password" class="form-control" 
    placeholder="Password" >
     <img src="../../../assets/image/eye.svg" class="eye translate-middle">
  </div>
  <div class="mb-4 d-center justify-content-between">
   
   
  <a><h4  routerLink="/register" routerLinkActive="bg-main">Register Now?</h4>
  </a> 

    <!-- /admin/rights -->
    <!-- <a><h4 class="forgot">Have A Code</h4></a> -->
    <a><h4 class="forgot" (click)="openDialog()">Forgot Password?</h4></a>
  </div>
  <button class="main w-100"
   [class]="!loginForm.valid && loginForm.touched?'.bg-main-25':'bg-main'"  
    [disabled]="
  !loginForm.valid && loginForm.touched">Login</button>

<p *ngIf="loginForm.valid" class="stutus">
  {{is_message}}</p>

</form>
</div>
</section>








</section>
