
#details{

    .deletbtn{
        
        border: 1px solid #CC0000;
        border-radius: 50%;
        position: absolute;
        right: 13px;
        top: 13px;
        }
       
 .bBtn{
    border: 1px solid #CC0000;
    // border-radius: 1px;
 }      

   br{
    height: 3px;
    background-color: #F7F7F7;
   }    
}