
  <!-- <h2 mat-dialog-title>Hi {{data.is_Admin}}</h2> -->
  <mat-dialog-content class=" text-capitalize py-3">
    
    <div class="mainImg   d-flex justify-content-between  flex-wrap">
  

 
      <img src="assets/image/logo.svg" alt="logo" class="w-25 mb-3 ">
      <p class="h6  text-start  text-main mt-2 " >Hi {{data.is_Admin}}</p>
      <p class="text-main w-100">{{data.dialogWork }}  {{data.name}}</p>
  </div>
  <!-- <p class="text-main">{{data.dialogWork }}  {{data.name}}</p> -->
    <div class="input-group flex-nowrap py-3">
        <span class="input-group-text" id="addon-wrapping"> 
         
            <mat-icon class="text-main" >edit</mat-icon>
        </span>

         <input *ngIf="!data.is_dataItemeCat" [(ngModel)]="name"   type="text"  class="form-control" placeholder="Enter Categorey Name">
         <input  *ngIf="data.is_dataItemeCat" [(ngModel)]="data.names"   type="text"  class="form-control" placeholder="Edit Categorey Name">
      <p>{{mainData}}</p>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button class="bg-main text-white ms-auto " 
    mat-button [mat-dialog-close]="data.is_dataItemeCat?data:name" 
    cdkFocusInitial> 
              {{data.dialogWork }} 
    </button>



  </mat-dialog-actions>
  